{% load tz %}
{% load aqhj_tags %}
{% timezone city.timezone %}
    <h2>
    {% if time_format == '24' %}
        <span class="var-time var-tformat" data-bold-hours="true" data-tformat="H:mm">
            <b>{{ datetime|date:'G' }}</b>:{{ datetime|date:'i' }}
        </span>
        <span class="am-pm var-time hidden" data-tformat="a">
            {{ datetime|date:'A' }}
        </span>
    {% else %}
        <span class="var-time var-tformat" data-bold-hours="true" data-tformat="h:mm">
            <b>{{ datetime|date:'g' }}</b>:{{ datetime|date:'i' }}
        </span>
        <span class="am-pm var-time" data-tformat="a">
            {{ datetime|date:'A' }}
        </span>
    {% endif %}
    </h2>
    <div class="date">
      <span class="var-time" data-tformat="dddd">{{ datetime|date:'l' }}</span>
      <span class="var-time" data-tformat="D">{{ datetime|date:'j' }}</span>
      <span class="var-time" data-tformat="MMMM">{{ datetime|date:'E' }}</span>
    </div>
    <hr>
    <div class="city">
        {% if local %}
        <span class="var-city">{{ city.get_display_name }}</span>
        {% else %}
        {{ city.get_display_name }}
        {% endif %}
        (<span class="var-time" data-tformat="z">{{ datetime|date:'e' }}</span>)
    </div>
    {% if city != user_city %}
      <div class="time-diff">{{ match|timediff:user_city }}</div>
    {% endif %}
{% endtimezone %}