{% load i18n %}
{% load aqhj_tags %}
<section class="match-box container" data-time="{{ match.time|isotime }}">
  <div class="row upper-half">
    <div class="left-column-sm col-xs-12 col-sm-6">
      <div class="ver-space"></div>
      <div class="row">
        <div class="col-xs-12 team-logo">
          <img src="{{ match.team_a.logo.url }}">
          <h4>{{ match.team_a }}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 team-logo">
          <img src="{{ match.team_b.logo.url }}">
          <h4>{{ match.team_b }}</h4>
        </div>
      </div>
      <div class="row">
        <div class="match-info">
        {{ match.season }}<br>
        {{ match.game_in_season_literal }}<br>
        {{ match.stadium.name }}, {{ match.stadium.city.name }}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 clocks right-column">
      <div class="row">
        <div class="left-column col-xs-6 time stadium-time date-box-left" data-time="{{ match.time|isotime }}"
             data-tz="{{ match.stadium.city.timezone }}">
          {% include 'components/date_box.html' with datetime=match.time city=match.stadium.city %}
        </div>
        <div class="col-xs-6 time local-time js-local-time date-box-right" data-time="{{ match.time|isotime }}"
             data-tz="{{ user_city.timezone }}">
          {% include 'components/date_box.html' with datetime=match.time city=user_city local=True %}
        </div>
      </div>
    </div>
  </div>
  <div class="match-box-footer row">
    <div class="col-xs-12 col-sm-6 pull-right">
      <div>
        {% if match.match_status == 'before' %}
          Faltan <span class="countdown" data-until="{{ match.time|isotime }}"></span>
        {% elif match.match_status == 'ongoing' %}
          Partido en curso
        {% elif match.match_status == 'after' %}
          Partido finalizado
        {% endif %}
      </div>
    </div>
      {% if match.match_status != 'after' %}
        <div id="fm-toggle" class="left-column-sm col-xs-12 col-sm-6"
             {% if home and following_matches %}data-is-toggled="1"{% endif %}>
          <div class="row">
            <div class="col-xs-2"><span class="glyphicon glyphicon-menu-down"></span></div>
            <div class="col-xs-8">{% trans 'Próximos partidos' %}</div>
            <div class="col-xs-2"><span class="glyphicon glyphicon-menu-down"></span></div>
          </div>
        </div>
      {% else %}
        <div class="left-column-sm col-xs-12 col-sm-6">
          {% if match.ready_for_review %}
            <a href="{{ domain }}{{ match.url }}">{% trans 'Resumen del partido' %}</a>
          {% else %}
            {% trans 'Resultados disponpibles en breve' %}
          {% endif %}
        </div>
      {% endif %}
  </div>
  {% if match.match_status != 'after' and following_matches %}
    {% include 'components/following_matches.html' %}
  {% endif %}
</section>
