{% if route == 'index' %}
  <meta property="og:title" content="¿A qué hora juega Argentina{{ match.hoy }} en tu zona horaria?"/>
  <meta property="og:description" content="Encontrá el horario de los próximos partidos de la Selección Argentina. Partidos amistosos, por Copa Amércia o por Eliminatorias Rusia 2018."/>
  <meta property="og:image" content="{{ match.og_image }}"/>
  <meta property="og:type" content="website"/>
{% elif route == 'group_positions' %}
  <meta property="og:title" content="Argentina en la {{ season.short }}, fase de grupos y posiciones."/>
  <meta property="og:description" content="¿Querés saber cómo le va a Argentina en la {{ season }}? Tenemos todos los resultados, los grupos y tablas de posiciones."/>
  <meta property="og:image" content="{{ season.groups_og_image }}"/>
  <meta property="og:type" content="website"/>
{% elif route == 'last_matches' %}
  <meta property="og:title" content="¿Querés revivir los últimos partidos de la Argentina?"/>
  <meta property="og:description" content="Encontrá los últimos resultados y videos de la Selección Argentina, por Copa América, eliminatorias y partidos amistosos."/>
  <meta property="og:image" content="{{ main_season.results_image }}"/>
  <meta property="og:type" content="website"/>
{% elif route == 'match_before' or route == 'match_before_no_gis' or route == 'match_today' or route == 'match_today_no_gis' %}
  <meta property="og:title" content="{{ match.season.tournament }} ¿A qué hora juega Argentina vs {{ match.team_b }}{{ match.hoy }}?"/>
  <meta property="og:description" content="Enterate a qué hora juega{{ match.hoy }} la Selección Argentina en la zona horaria de tu país, su próximo partido vs {{ match.team_b }} por {{ match.season }}."/>
  <meta property="og:image" content="{{ match.og_image }}"/>
  <meta property="og:type" content="article"/>
{% elif route == 'past_match' or route == 'past_match_no_gis' %}
  <meta property="og:title" content="{{ match.season.tournament }} - Resultado de Argentina vs {{ match.team_b }}"/>
  <meta property="og:description" content="¿Querés saber cómo salió Argentina hoy contra {{ match.team_b }}? Encontrá el resumen del partido, videos y noticias en nuestro sitio."/>
  <meta property="og:image" content="{{ match.og_image }}"/>
  <meta property="og:type" content="article"/>
{% endif %}
<meta property="og:url" content="{{ domain }}{{ current_path }}"/>
<meta property="og:locale" content="es_AR"/>
<meta property="og:site_name" content="AquehorajuegaArgentina"/>
