<script>
  {% if GA %}
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '{{ domain_conf.google_analytics_id }}', 'auto');
    ga('require', 'eventTracker');
    ga('require', 'outboundLinkTracker');
    ga('send', 'pageview', {'dimension1':window.isBlocked?'blocked':'not-blocked'});
  {% endif %}
  {{ domain_conf.extra_footer_script|safe }}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<script async src="{{ STATIC_URL }}main/js/autotrack.js"></script>