{% load i18n %}
{% load staticfiles %}
{% load aqhj_tags %}
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-xs-12">
        <div class="sign-up">
          {% if not is_confirmation %}
            <h1>{% trans 'NO TE PIERDAS EL PRÓXIMO PARTIDO DE' %} {{domain_team|upper}}</h1>
            <p>{% trans 'Te avisamos por email a qué hora juega en tu zona horaria.' %}</p>

            <div class="row">
              <form data-confirm-url="{% url 'nl_success_confirm' %}"
                    action="//aquehorajuegaargentina.us13.list-manage.com/subscribe/post?u=c7545e8815c08168bf4895eec&amp;id=465f551030"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank" novalidate>
                <div class="form-group" id="mc_embed_signup_scroll">
                  <div class="col-sm-3 mc-field-group">
                    <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME"
                           placeholder="Tu nombre">
                  </div>
                  <div class="col-sm-5 mc-field-group">
                    <input type="text" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Tu email">
                  </div>
                  <input type="hidden" value="{{ user_city.timezone }}" name="TIMEZONE" class="" id="mce-TIMEZONE">
                  <div class="col-sm-4 col-xs-12 mc-field-group">
                    <input type="submit" class="button btn btn-danger" value="SUSCRIBIRME" name="subscribe"
                           id="mc-embedded-subscribe">
                  </div>
                </div>
              </form>
            </div>
            <h5>{% trans 'Tal como a vos, no nos gusta el SPAM.' %}</h5>
          {% else %}
            <h1>{% trans '¡GRACIAS POR SUSCRIBIRTE!' %}</h1>
            <p>{% trans 'Entrá a tu casilla de email para confirmar tu suscripción.' %}</p>
          {% endif %}
        </div>
      </div>
      <div class="col-sm-1 hidden-xs hidden-xs-down"></div>

      <div class="col-sm-2 col-xs-6">
        <h4>{% trans 'AQUÍ' %}</h4>
        <nav>
          <ul>
            <li><a href="{{ domain }}{% url 'index' %}">A qué hora juega</a></li>
            <li><a href="{{ domain }}{% url 'last_matches' %}">Resultados</a></li>
            <li><a href="{{ domain }}{{ 'group_positions'|url_from_object:main_season }}">Posiciones</a></li>
            {#            <li>Sobre nosotros</li>#}
            {#            <li>Contacto</li>#}
          </ul>
        </nav>
      </div>
      <div class="col-sm-2 col-xs-6">
        <h4>{% trans 'ALLÁ' %}</h4>
        <nav>
          <ul>
            <li><a target="_blank" href="https://twitter.com/AQueHora_Argent">Twitter</a></li>
            <li>
              <a target="_blank" href="https://www.facebook.com/A-qu%C3%A9-hora-juega-Argentina-1003742026377502/">Facebook</a>
            </li>
            <li>
              <a rel="nofollow" href="http://www.bet365.com/dl/~offer?affiliate=365_482502" target="blank">¡Apostá ahora!</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>