{% load staticfiles %}
{% load aqhj_tags %}
<div class="container-fluid">
  <div id="logo">
    <a class="logo-lg" href="{{ domain }}"><img src="{{ domain_conf.logo.url }}"></a>
    <a class="logo-sm" href="{{ domain }}"><img src="{{ domain_conf.logo_mobile.url }}"></a>
  </div>
  <div class="header-buttons">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ domain }}{{ current_path }}">
      <i class="fa fa-facebook"></i>
    </a>
    <a target="_blank"
       href="https://twitter.com/intent/tweet?text={{ domain_conf.tweet | urlencode }}">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#" data-toggle="modal" data-target="#settings-modal">
      <i class="fa fa-cog"></i>
    </a>
  </div>
</div>