{% load compress %}
{% load aqhj_tags %}
{% load sites_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
  {% include 'layout/head.html' %}
</head>
<body>
<header id="header">
  {% block header %}
    {% include 'layout/header.html' %}
  {% endblock %}
</header>
<div id="main-nav" class="container-fluid">
  <div class="row">
    <div class="nav-el col-xs-6 col-sm-3">
      <a href="{{ domain }}{% url 'index' %}">A qué hora juega</a>
    </div>
    <div class="nav-el col-xs-6 col-sm-3">
      <a href="{{ domain }}{% url 'last_matches' %}">Resultados</a>
    </div>
    <div class="nav-el col-xs-6 col-sm-3">
      <a href="{{ domain }}{{ 'group_positions'|url_from_object:main_season }}">Posiciones</a>
    </div>
    <div class="nav-el col-xs-6 col-sm-3">
      <a class="double-link" rel="nofollow" href="{{ BET_AFFILIATE_LINK }}">¡Apostá ahora!</a>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="settings-modal" class="modal fade" role="dialog" data-show='{{ city_is_new|yesno:'yes,no' }}'>
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        {% include 'components/settings-modal.html' %}
      </div>
    </div>
  </div>
</div>
<div id="content" class="container">
  {% block content_title %}
    {% if route_conf %}
      <h1>{% parse_string_with_context route_conf.h1 %}</h1>
      <h3>{% parse_string_with_context route_conf.h3 %}</h3>
    {% endif %}
  {% endblock %}
  {% block content %}
  {% endblock %}
</div>


{% block footer %}
  {% include 'layout/footer.html' %}
{% endblock %}
{% include 'layout/footer_scripts.html' %}
</body>
</html>
