{% load tz %}
{% timezone city.timezone %}
    <h2>
    {% if time_format == '24' %}
        <b class="var-time" data-tformat="HH">{{ datetime|date:'G' }}</b>:<span class="var-time" data-tformat="mm">{{ datetime|date:'i' }}</span>
    {% else %}
    <b class="var-time" data-tformat="hh">{{ datetime|date:'g' }}</b>:<span class="var-time" data-tformat="mm">{{ datetime|date:'i' }}</span>
        <span class="am-pm var-time" data-tformat="a">{{ datetime|date:'A' }}</span>
    {% endif %}
    </h2>
<div class="date">
    <span class="day-week var-time" data-tformat="ddd">{{ datetime|date:'D' }}</span>
    <span class="day-month var-time" data-tformat="D">{{ datetime|date:'j' }}</span>
    <span class="month var-time" data-tformat="MMMM">{{ datetime|date:'E' }}</span>
</div>
{% endtimezone %}