{% load aqhj_tags %}
{% for match in following_matches %}
<div class="row following-match">
    <div class="fm-main left-column">
        <div class="row">
          <div class="col-xs-5 fm-team-a">
            <img src="{{ match.team_a.logo.url }}">
            <h4>{{ match.team_a }}</h4>
          </div>
          <div class="col-xs-2">
            <p>vs</p>
          </div>
          <div class="col-xs-5 fm-team-b">
            <img src="{{ match.team_b.logo.url }}">
            <h4>{{ match.team_b }}</h4>
          </div>
        </div>
        <div class="match-info-fm">
            {{ match.season.tournament.name }}, {{ match.game_in_season }}  |  {{ match.stadium.name }}, {{ match.stadium.city.name }}
        </div>
    </div>
    <div class="fm-date right-column time js-local-time" data-time="{{ match.time|isotime }}" data-tz="{{ user_city.timezone }}">
        {% include 'main/date_box_tiny.html' with datetime=match.time city=user_city %}
    </div>
</div>
{% endfor %}