{% extends 'main/layout.html' %}
{% load tz %}
{% load aqhj_tags %}
{% load staticfiles %}
{% block head_extra %}
  <title>{{ next_match }}</title>
{% endblock %}

{% block content %}
  <h1>¿Cuándo juega el Barcelona?</h1>
  <h3>Entérate a qué hora juega el Barcelona hoy en tu país.</h3>

  {% include 'components/current-match-box.html' %}

  <section id="following-matches" class="collapse">
    {% include 'components/following_matches.html' %}
  </section>

  {% include 'components/three-articles.html' with match=next_match %}
{% endblock %}

{% block footer_script %}
  <script>
    $(document).ready(function () {
      $('.countdown').each(function () {
        var until_date = new Date($(this).data('until'));
        $(this).countdown(until_date, function (event) {
          var dateFormat = '%-H h %-M m %-S s';
          if (event.offset.totalDays > 0) {
            dateFormat = '%-D día%!D ' + dateFormat;
          }
          $(this).text(event.strftime(dateFormat));
        });
      });

    });
  </script>
{% endblock %}