{% load tz %}
{% load staticfiles %}
{% load aqhj_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,900,100,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
    <link href="{% static "main/css/aqhj.css" %}" rel="stylesheet" type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="{% static "main/js/jquery.countdown.min.js" %}"></script>
</head>
<body>
{{ user_city }}{{ user_city.timezone }}
<div class="match-box container-fluid">
    <div class="row upper-half">
        <div class="left-column col-xs-6">
            <div class="row">
                <div class="col-xs-3 team-logo">
                    <img src="{{ next_match.team_a.logo.url }}">
                </div>
                <div class="col-xs-9 team-name">
                    <h4>{{ next_match.team_a }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 team-logo">
                    <img src="{{ next_match.team_b.logo.url }}">
                </div>
                <div class="col-xs-9 team-name">
                    <h4>{{ next_match.team_b }}</h4>
                </div>
            </div>

            <hr>
            <div>
                Stadium: {{ next_match.stadium.name }}
            </div>
            <div></div>
        </div>
        <div class="col-xs-6 clocks">
            <div class="row">
                <div class="left-column col-xs-6 time local-time">
                    {% include 'main/date_box.html' with datetime=next_match.time city=user_city %}
                </div>
                <div class="col-xs-6 time stadium-time">
                    {% include 'main/date_box.html' with datetime=next_match.time city=next_match.stadium.city %}
                </div>
            </div>
        </div>
    </div>
    <div class="match-box-footer row">
        <div class="left-column col-xs-6">Próximos partidos</div>
        <div class="col-xs-6">
        <div>Faltan <span class="countdown" data-until="{{ next_match.time|isotime }}"></span></div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $('.countdown').each(function(){
        var until_date = new Date($(this).data('until'));
        $(this).countdown(until_date, function(event) {
            var dateFormat = '%-H h %-M m %-S s';
            if(event.offset.totalDays > 0){
                dateFormat = '%-D día%!D '+dateFormat;
            }
            $(this).text(event.strftime(dateFormat));
        });
    });

});
</script>
</body>
</html>
