{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head_extra %}{% endblock %}
        {% block head_styles %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
            <link href='https://fonts.googleapis.com/css?family=Lato:300,400,900,100,700' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
            <link href="{% static "main/css/aqhj.css" %}" rel="stylesheet" type='text/css'>
            <link href="{% static "main/css/custom-griding.css" %}" rel="stylesheet" type='text/css'>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
        {% endblock %}
        {% block head_scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
            <script src="{% static "main/js/jquery.countdown.min.js" %}"></script>
            <script src="{% static "main/js/aqhj.js" %}"></script>
            <script src="{% static "main/js/settings.js" %}"></script>
            <script src="{% static "main/js/moment-with-locales.min.js" %}"></script>
            <script src="{% static "main/js/moment-timezone-with-data-2010-2020.min.js" %}"></script>
            <script src="{% static "main/js/local-time-update.js" %}"></script>
        {% endblock %}
    {% endblock %}
</head>
<body>
    <header id="header">
    {% block header %}
        <div class="container">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <a href="#" data-toggle="modal" data-target="#settings-modal">
                <i class="glyphicon glyphicon-cog"></i>
            </a>
        </div>
    {% endblock %}
    </header>


    <!-- Modal -->
    <div id="settings-modal" class="modal fade" role="dialog" data-show='{{ city_is_new|yesno:'yes,no' }}'>
      <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            {% include 'main/settings-modal.html' %}
          </div>
        </div>
      </div>
    </div>
    <div id="content" class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer id="footer">
    {% block footer %}
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-6">Contact</div>
                <div class="col-sm-3 col-xs-6">Newsletter</div>
                <div class="col-sm-3 col-xs-6">Twitter</div>
                <div class="col-sm-3 col-xs-6">Facebook</div>
            </div>
        </div>
    {% endblock %}
    </footer>

    {% block footer_script %}
    {% endblock %}
</body>
</html>
