{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head_extra %}{% endblock %}
        {% block head_styles %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
            <link href='https://fonts.googleapis.com/css?family=Lato:300,400,900,100,700,900' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
            <link href="{% static "main/css/bootstrap.css" %}" rel="stylesheet">
            <link href="{% static "main/css/aqhj.css" %}" rel="stylesheet" type='text/css'>
            <link href="{% static "main/css/custom-griding.css" %}" rel="stylesheet" type='text/css'>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
        {% endblock %}
        {% block head_scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
            <script src="{% static "main/js/jquery.countdown.min.js" %}"></script>
            <script src="{% static "main/js/aqhj.js" %}"></script>
            <script src="{% static "main/js/settings.js" %}"></script>
            <script src="{% static "main/js/mwl.js" %}"></script>
            <script src="{% static "main/js/moment-timezone-with-data-2010-2020.min.js" %}"></script>
            <script src="{% static "main/js/local-time-update.js" %}"></script>
        {% endblock %}
    {% endblock %}
</head>
<body>
    <header id="header">
    {% block header %}
        <div class="container">
            <a><i class="fa fa-facebook"></i></a>
            <a><i class="fa fa-twitter"></i></a>
            <a href="#" data-toggle="modal" data-target="#settings-modal">
                <i class="glyphicon glyphicon-cog"></i>
            </a>
        </div>
    {% endblock %}
    </header>
    <nav id="main-nav">
      <ul>
        <li><a href="/home.htm">Cuando Juega</a></li>
        <li><a href="/resultados.htm">Resultados y Videos</a></li>
        <li><a href="/posiciones.htm">Tabla de Posiciones</a></li>
        <li><a href="http://www.bet365.com/" target="blank">¡Apuesta ahora!</a></li>
      </ul>
    </nav>

    <!-- Modal -->
    <div id="settings-modal" class="modal fade" role="dialog" data-show='{{ city_is_new|yesno:'yes,no' }}'>
      <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            {% include 'main/settings-modal.html' %}
          </div>
        </div>
      </div>
    </div>
    <div id="content" class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer id="footer">
    {% block footer %}
      <div class="container">
        <div class="row">
          <div class="col-sm-7 col-xs-6">
            <div class="sign-up">
              <h1>NO TE PIERDAS EL PRÓXIMO PARTIDO DEL BARCELONA</h1>
              <p>Te avisamos por email a qué hora juega en tu zona horaria.</p>

              <div class="row">
                <form>
                    <div class="form-group">
                      <div class="col-sm-3">
                      <input type="text" class="form-control" id="usr"placeholder="Tu nombre">
                      </div>
                      <div class="col-sm-5">
                      <input type="text" class="form-control" id="usr"placeholder="Tu email">
                      </div>
                      <div class="col-sm-4">
                      <button type="button" class="btn btn-danger">SUSCRÍBEME</button>
                      </div>

                    </div>

                </form>
              </div>
              <h5>Tal como a ti, no nos gusta el SPAM.</h5>
            </div>
          </div>
          <div class="col-sm-1 col-xs-6"></div>

          <div class="col-sm-2 col-xs-6">
          <h4>AQUÍ</h4>
          <nav>
            <ul>
              <li>Cuando Juega</li>
              <li>Resultados</li>
              <li>Posiciones</li>
              <li>Sobre nosotros</li>
              <li>Contacto</li>
            </ul>
          </nav>
          </div>
          <div class="col-sm-2 col-xs-6">
            <h4>ALLÁ</h4>
            <nav>
              <ul>
                <li>Twitter</li>
                <li>Facebook</li>
                <li>¡Apuesta ahora!</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    {% endblock %}
    </footer>

    {% block footer_script %}
    {% endblock %}
</body>
</html>
