{% extends 'layout/layout.html' %}
{% load tz %}
{% load aqhj_tags %}
{% load staticfiles %}

{% block content %}
  {% include 'components/match-box-past.html' %}

  {% if summary %}
    <article class="summary">
      {% if summary.title %}<h2>{{ summary.title }}</h2>{% endif %}
      {% if summary.sub_title %}<h3>{{ summary.sub_title }}</h3>{% endif %}
      {{ summary.content|safe }}
    </article>
  {% endif %}
  {% if three_articles %}
    {% include 'components/three-articles.html' %}
  {% endif %}
{% endblock %}