{% extends 'layout/layout.html' %}
{% load tz %}
{% load aqhj_tags %}
{% load staticfiles %}
{% block head_extra %}
  <title>Resultado Argentina vs {{ match.team_b }}{{ match.hoy }} ({{ match.score_team_a }}-{{ match.score_team_b }}) | {{ match.season }}{% if match.game_in_season %} - {{match.game_in_season}}{% endif %}</title>
  <meta name="description" content="¿Querés saber cómo salió Argentina{{ match.hoy }} contra {{ match.score_team_b }} por {{ match.season }}? Encontrá el resultado del partido, videos y el resumen en nuestro sitio."/>
{% endblock %}

{% block content_title %}
{% include 'components/match_title.html' %}
{% endblock %}

{% block content %}
  {% include 'components/past-match-box.html' %}

  {% if match.summary %}
    <article class="summary">{{ match.summary|safe }}</article>
  {% endif %}
  {% include 'components/three-articles.html' %}
{% endblock %}