{% extends 'main/layout.html' %}
{% load tz %}
{% load aqhj_tags %}
{% load staticfiles %}
{% block head_extra %}
  <title>{% if home %}
    ¿A qué hora juega Argentina{{ match.hoy }}? Todos los horarios de los próximos partidos
  {% else %}
    ¿A qué hora juega Argentina{{ match.hoy }} vs {{ match.team_b }} en tu zona horaria?
  {% endif %}</title>
{% endblock %}

{% block content_title %}
{% include 'components/match_title.html' %}
{% endblock %}

{% block content %}
  {% include 'components/current-match-box.html' %}

  {% include 'components/three-articles.html' %}
{% endblock %}

{% block footer_script %}
  {{ block.super }}
  <script>
    $(document).ready(function () {
      $('.countdown').each(function () {
        var until_date = new Date($(this).data('until'));
        $(this).countdown(until_date, function (event) {
          var dateFormat = '%-H h %-M m %-S s';
          if (event.offset.totalDays > 0) {
            dateFormat = '%-D día%!D ' + dateFormat;
          }
          $(this).text(event.strftime(dateFormat));
        });
      });
    });
  </script>
{% endblock %}