{% extends 'layout/layout.html' %}
{% load tz %}
{% load aqhj_tags %}
{% load staticfiles %}

{% block content %}
  {% include 'components/match-box-current.html' %}
  {% if match.preview_part1 %}
    {% include 'components/three-articles.html' %}
  {% elif prev_match.summary %}
      <article class="summary">
         <h2>{{ prev_match.summary_title }}</h2>
         <h3>{{ prev_match.summary_sub_title }}</h3>
        {{ prev_match.summary|safe }}
      </article>
  {% elif prev_match.preview_part1 %}
    {% include 'components/three-articles.html' with match=prev_match %}
  {% endif %}
{% endblock %}

{% block footer_script %}
  {{ block.super }}
  <script>
    $(document).ready(function () {
      $('.countdown').each(function () {
        var until_date = new Date($(this).data('until'));
        $(this).countdown(until_date, function (event) {
          var dateFormat = '%-H h %-M m %-S s';
          if (event.offset.totalDays > 0) {
            dateFormat = '%-D día%!D ' + dateFormat;
          }
          $(this).text(event.strftime(dateFormat));
        });
      });
    });
  </script>
{% endblock %}