{% extends 'layout/layout.html' %}
{% load tz %}
{% load aqhj_tags %}
{% load staticfiles %}

{% block content %}
  {% include 'components/match-box-past.html' %}

  {% if match.summary %}
    <article class="summary">
       {% if match.summary_title %}<h2>{{ match.summary_title }}</h2>{% endif %}
       {% if match.summary_sub_title %}<h3>{{ match.summary_sub_title }}</h3>{% endif %}
      {{ match.summary|safe }}
    </article>
  {% endif %}
  {% include 'components/three-articles.html' %}
{% endblock %}