{% load staticfiles %}
{% load i18n %}
{% load compress %}
{% load aqhj_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'layout/head.html' %}
  <link href="{% static "main/css/mailchimp.css" %}" rel="stylesheet" type='text/css'>
</head>
<body class="{% block body_class %}{% endblock %}">
<div id="singup" class="container">


  <div class="upper-logo"><img class="logo-blue" src="{% static 'main/img/thank/logo-aqhj-blue.png' %}"/></div>
  <div class="row">
    <div class="col-xs-12 col-md-6 espera">
      <h3>¡Excelente pero... </h3>
      <h1>...ESPERÁ UN MINUTO!</h1>
    </div>
    <div class="col-xs-12 col-md-6">
      <img class="img-thumbnail" src="{% static 'main/img/thank/off-side-2.jpg' %}"/>
    </div>
  </div>
  <p>
    <b>Antes que podamos avisarte</b> de los próximos partidos de Argentina, necesitamos que completes tu suscripción.
  </p>
  <p>¡Es muy fácil!</p>
  <p>Entrá a tu casilla de email y buscá el siguiente email:</p>
  <img class="img-thumbnail" src="{% static 'main/img/thank/confirmation-email-2.png' %}"/>
  <p>*Si no encontrás este email en tu casilla, verificá su carpeta de SPAM.</p>
</div>

{% include 'layout/footer.html' with is_confirmation=True %}
{% include 'layout/footer_scripts.html' %}
</body>
</html>
