
#content {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 300;
    width: 720px;
    margin-bottom: 50px;
    text-align: center;
    padding: 0;
}

#content .match-box {
    border-top: 1px solid #DFDFDF;
    text-align: left;
    width: 100%;
    margin-bottom: 60px;
}

#content h1 {
    font-weight: 900;
    letter-spacing: -0.36px;
    color: #032B2F;
    margin-top: 10px;
    margin-bottom: 5px;
}

#content h3 {
    letter-spacing: 0.02em;
    font-size: 22px;
    font-weight: 300;
    color: #BEBFB6;
    margin-top: 5px;
    margin-bottom: 44px;
    line-height: 1.364em;
}

@media screen and (max-width: 767px) {
    #content {
        width: 90%;
        max-width: 360px;
    }
}

.upper-half .left-column, .upper-half .left-column-sm, .upper-half .date-box-right {
    height: 240px;
}

.left-column {
    border-right: 1px solid #DFDFDF;
}

@media (min-width: 768px) {
    .left-column-sm {
        border-right: 1px solid #DFDFDF;
    }
}

@media (max-width: 767px) {
    .left-column-sm {
        border-bottom: 1px solid #DFDFDF;
    }

    .match-box-footer .left-column-sm {
        border-top: 1px solid #DFDFDF;
        border-bottom-width: 0;
    }
}

.clocks, .match-box-footer {
    line-height: 1em;
    text-align: center;
}

.match-box-footer {
    border-top: 1px solid #DFDFDF;
}

.team-logo img {
    height: 36px;
    margin-top: 24px;
    margin-left: 0;
    float: left;
    margin-right: 15px;
}

.team-name {
    line-height: 32px;
    padding-left: -10px;
}

.match-info {
    padding-top: 26px;
    line-height: 18px;
    color: #BEBFB6;
    font-weight: 300;
}

.match-info-fm {
    color: #BEBFB6;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    margin-left: 20px;
}

.hr-dif {
    color: #EB040A;
    font-weight: 400;
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}

.match-box-footer {
    line-height: 3em;
    font-size: 20px;
    color: #BEBFB6;
    letter-spacing: -0.2px;
}

#fm-toggle {
    transition: border-bottom 1s;
}

.match-box .time {
    color: #08708A;
    font-weight: 300;
}

.match-box .time h2 {
    font-size: 48px;
    font-weight: 300;
    margin-top: 70px;
}

.match-box .time h2 b {
    font-weight: 900;
}

.am-pm {
    font-weight: 900;
    text-transform: lowercase;
    font-size: 35%;
}

.date-box-left h2 b {
    color: #032B2F;
}

.date-box-right h2 {
    color: #56B1BF;
}

.date-box-right h2 b {
    color: #08708A;
}

.match-box .date-box-left .date {
    font-size: 14px;
    color: #08708A;
}

.day-week {
    color: #032B2F;
}

.day-month {
    color: #08708A;
}

.month {
    color: #56B1BF;
}

.match-box .time .city {
    font-size: 12px;
}

.time hr {
    margin: 5px auto;
    width: 86%;
}

.match-box .date-box-left hr {
    border-color: #08708A;
}

.date-box-right hr {
    border-color: #56B1BF;
}

.date-box-right .date {
    color: #56B1BF;
}

.date-box-right .city {
    color: #56B1BF;
}

#main-nav {
    border-bottom: 1px solid #032B2F;
    padding-top: 3px;
    padding-bottom: 0;
    text-align: center;
    width: 900px;
    max-width: 90%;
    margin: 25px auto 15px;
}

#main-nav .nav-el {
    margin-bottom: 10px;
}

#main-nav a {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #08708A;
}

.ver-space {
    height: 18px
}

.match-box h4 {
    font-size: 24px;
    letter-spacing: -0.24px;
    font-weight: 300;
    color: #032B2F;
    margin-top: 29px;
}

#following-matches img {
    height: 21px;
    margin: 10px 10px 0 10px;
}

.fm-team-a-logo, .fm-team-b-name {
    text-align: right;
}

.fm-team-a img, .fm-team-a h4 {
    float: left;
}

.fm-team-b img, .fm-team-b h4 {
    float: right;
}

@media screen and (max-width: 767px) {
    .fm-team-b img, .fm-team-b h4 {
        float: left;
    }
}

#following-matches .following-match:not(:first-child) {
    border-top: 1px solid #DFDFDF;
}

#following-matches .left-column {
    padding: 8px 0 0 0;
    margin-bottom: 0;
}

#following-matches .left-column h4 {
    margin: 7px 0 0 0;
    font-weight: 300;
}

#following-matches .left-column p {
    color: #BEBFB6;
    font-size: 18px;
    margin: 8px 0 0 0;
}

#following-matches .right-column h2 {
    font-size: 26px;
    color: #BEBFB6;
    font-weight: 300;
    margin: 7px 0 0 0;
}

.fm-date {
    text-align: center;
}

@media screen and (min-width: 768px) {
    #fm-toggle.collapsed {
        border-bottom: 1px solid white;
        margin-bottom: -1px;
    }
}

.right-column {
    border-left: 1px solid #DFDFDF;
    margin-left: -1px;
}

#header, #footer, #header a, #footer a {
    background-color: #032b2f;
    color: #f0f2e7;
}

#header {
    font-size: 24px;
    line-height: 2.25em;
}

#header a {
    padding: 16px 16px 10px;
    text-decoration: none;
}

#footer .container {
    width: 900px;
    font-weight: 300;
    letter-spacing: 0.02em;
    padding: 25px;
    font-family: Lato, Helvetica, Arial, sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 340px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 290px;
}

@media screen and (max-width: 767px) {
    #main-nav {
        width: 90%;
        max-width: 360px;
    }

    #main-nav .nav-el:nth-child(even) {
        text-align: right;
    }

    #main-nav .nav-el:nth-child(odd) {
        text-align: left;
    }

    #footer {
        height: 735px;
    }

    body {
        margin-bottom: 735px;
    }

    #footer .container {
        width: 90%;
        max-width: 360px;
    }

    .mc-field-group .btn {
        width: 100%;
    }

    .mc-field-group {
        margin-top: 10px;
    }

    .sign-up {
        margin-bottom: 40px;
    }
}

.btn {
    border-radius: 0;
    border: 1px solid #bebebe;
}

.btn.btn-primary, .btn.btn-right.activated {
    background-color: #08708a;
    border: 1px solid #08708a;
}

.btn.btn-info, .btn.btn-left.activated {
    background-color: #56b1bf;
    border: 1px solid #56b1bf;
}

#settings-modal {
    text-align: center;
}

#content .article-three {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#content .article-three h2 {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 44px;
    font-weight: 400;
    color: #032B2F;
    padding-top: 11px;
}

.article-three .row {
    text-align: left;
    font-family: Merriweather, Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #032B2F;
    font-weight: 300;
    margin-bottom: 20px;
}

/* Footer */
#footer .btn {
    color: #F0F2E7;
    font-weight: 900;
    letter-spacing: 0.06em;
    background-color: #EB040A;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #EB040A;
}

#footer .form-control {
    background-color: transparent;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #EB040A;
    color: #EB040A;
    font-family: Lato, Helvetica, Arial, sans-serif;
}

#footer ul {
    padding-left: 0;
}

#footer li {
    list-style-type: none;
    line-height: 36px;
}

#footer .container h1 {
    font-size: 30px;
    letter-spacing: 0.05em;
    font-weight: 900;
}

#footer .container h4 {
    margin-top: 20px;
    color: #F0F2E7;
}

#footer .container h5 {
    font-size: 14px;
    font-weight: 300;
}

.sign-up {
    font-size: 16px;
}

.match-info, .team-logo {
    padding-left: 20px;
}

/*------ Past-match box ------*/
.video {
    max-height: 203px;
    padding: 0;
}

.mb-smaller .upper-half .left-column, .mb-smaller .upper-half .left-column-sm {
    height: auto;
}

.score h4 {
    margin-top: 28px;
    margin-left: 0;
    font-size: 26px;
}

.mb-smaller .team-logo img {
    margin-top: 17px;
    margin-bottom: 8px;
}

.mb-smaller.match-box h4 {
    margin-top: 22px;
    margin-bottom: 2px;
}

.mb-smaller.match-box h5 {
    font-size: 12px;
    font-weight: 300;
    color: #032B2F;
    margin: 0 0 0 63px;
    position: absolute;
}

.mb-smaller .ver-space {
    height: 12px;
}

.mb-smaller .match-info {
    line-height: 1.5em;
    font-size: 16px;
    padding-top: 15px;
    padding-left: 28px;
}

.winner h4 {
    font-weight: bold;
}

.fm-vs {
    text-align: center;
}

.match-box > .row, #following-matches > .row {
    border: 1px solid #dfdfdf;
    border-top: 0;
}

#time-clarification {
    color: #BEBFB6;
    font-weight: 400;
    font-style: italic;
    padding-top: 14px;
    padding-right: 10px;
}

#time-clarification .var-city {
    color: #56b1bf;
}

.point-1 .fa-circle {
    color: #EB040A;
}

.point-2 .fa-circle {
    color: #56b1bf;
}

.point-3 .fa-circle {
    color: #08708a;
}

.point .fa-inverse {
    font-family: Merriweather, Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    top: -2px;
}

.point {
    margin-top: 5px;
}

@media screen and (max-width: 767px) {
    .article-three p {
        padding-left: 10px;
    }
}

#logo {
    float: left;
    margin-left: 45px;
}

#logo img {
    height: 40px;
}

.header-buttons {
    float: right;
    margin-right: 45px;
    text-align: right;
}

@media screen and (max-width: 767px) {
    .header-buttons {
        margin-right: 0;
    }

    #logo {
        margin-left: 0;
    }
}

.summary h3 {
    text-align: left;
}

.summary {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.summary h2 {
    font-family: Lato, Helvetica, Arial, sans-serif;;
    font-size: 44px;
    font-weight: 400;
    color: #032B2F;
    text-align: left;
}

.summary p {
    text-align: left;
    font-family: Merriweather, Helvetica, Arial, sans-serif;;
    font-size: 18px;
    line-height: 30px;
    color: #032B2F;
    font-weight: 300;
    margin-bottom: 20px;
}

.logo-sm {
    display: none;
}

a {
    color: #56B1BF;
}

a:hover {
    color: #08708A;
}

.time-diff {
    font-size: 12px;
    font-weight: 400;
    color: #D73A31;
    left: 0;
    bottom: 10px;
    position: absolute;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 550px) {
    .logo-lg {
        display: none;
    }

    .logo-sm {
        display: inline;
    }
}