#container {
    border: 1px solid grey;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 300;
}
/*@media screen and (min-width: 768px){*/
    #container {
        width: 660px;
    }
/*}*/
.c6-of-11 {
    width:54.55%;
    float:left;
}
.c5-of-11 {
    width:45.45%;
    float:left;
}
.c5-of-11, .c6-of-11 {
    padding-right: 15px;
    padding-left: 15px;
}
.upper-half .left-column, .upper-half .left-column-sm{
    height: 300px;
}
.left-column {
    border-right: 1px solid grey;
}
@media (min-width: 768px) {
    .left-column-sm {
        border-right: 1px solid grey;
    }
}
@media (max-width: 767px) {
    .left-column-sm {
        border-bottom: 1px solid grey;
    }
    .match-box-footer .left-column-sm {
        border-top: 1px solid grey;
        border-bottom-width: 0;
    }
}
.clocks, .match-box-footer {
    line-height: 3em;
    text-align: center;
}
.match-box-footer {
    border-top: 1px solid grey;
    background-color: lightgrey;
}

.team-logo img {
    height: 32px;
    margin-top:10px;
}
.team-name {
    line-height: 32px;
}

.time {
    color : #08708A;
    font-weight: 300;
}
.time h2 {
    font-size : 40px;
    font-weight: 300;
}
.time h2 b {
    font-weight: 900;
}
.time h2 .am-pm {
    font-size : 14px;
    text-transform: lowercase;
}
.local-time h2 b {
    color : #032B2F;
}
.stadium-time h2 {
    color : #56B1BF;
}
.stadium-time h2 b {
    color : #08708A;
}
.time .date {
    font-size : 12px;
}
.time .city {
    font-size : 10px;
}
.match-box h4 {
    font-size : 20px;
    letter-spacing : -0.2px;
    color : #032B2F;
}
#following-matches img {
    width: 30px;
}
.fm-main {
    width: 80%;
}
.fm-date {
    width: 20%;
}
.fm-vs {
    width: 5%;
}
.fm-team-a-name, .fm-team-b-name {
    width: 34.2%;
}
.fm-team-a-logo, .fm-team-b-logo {
    width: 13.3%;
}
.fm-main, .fm-date, .fm-team-a-logo, .fm-team-b-logo, .fm-team-a-name, .fm-team-b-name, .fm-vs {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.fm-team-a-logo, .fm-team-b-name {
    text-align: right;
}
.fm-team-b-logo, .fm-team-a-name {
    text-align: left;
}
#following-matches .following-match {
    border-top: 1px solid grey;
}