.match-box {
    border: 1px solid grey;
    border-radius: 3px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 300;
}
/*@media screen and (min-width: 768px){*/
    .match-box {
        width: 660px;
    }
/*}*/
.c6-of-11 {
    width:54.55%;
    float:left;
}
.c5-of-11 {
    width:45.45%;
    float:left;
}
.upper-half .left-column {
    height: 300px;
}
.left-column {
    border-right: 1px solid grey;
}
.c5-of-11, .c6-of-11 {
    padding-right: 15px;
    padding-left: 15px;
}
.clocks, .match-box-footer {
    line-height: 3em;
    text-align: center;
}
.match-box-footer {
    border-top: 1px solid grey;
    background-color: lightgrey;
}

.team-logo img {
    height: 32px;
    margin-top:10px;
}
.team-name {
    line-height: 32px;
}

.time {
    color : #08708A;
    font-weight: 300;
}
.time h2 {
    font-size : 40px;
    font-weight: 300;
}
.time h2 b {
    font-weight: 900;
}
.local-time h2 b {
    color : #032B2F;
}
.stadium-time h2 {
    color : #56B1BF;
}
.time .date {
    font-size : 12px;
}
.time .city {
    font-size : 10px;
}
.match-box h4 {
    font-size : 20px;
    letter-spacing : -0.2px;
    color : #032B2F;
}