.c6-of-11 {
    width:54.55%;
    float:left;
}
.c5-of-11 {
    width:45.45%;
    float:left;
}
.c5-of-11, .c6-of-11 {
    padding-right: 15px;
    padding-left: 15px;
}
.fm-main {
    width: 80%;
}
.fm-date {
    width: 20%;
}
/*.fm-team-a-name, .fm-team-b-name {*/
    /*width: 34.2%;*/
/*}*/
/*.fm-team-a-logo, .fm-team-b-logo {*/
    /*width: 13.3%;*/
/*}*/
.fm-main, .fm-date, .fm-team-a-logo, .fm-team-b-logo, .fm-team-a-name, .fm-team-b-name, .fm-vs {
    float: left;
}

@media (max-width: 767px) {
    .fm-main {
        width: 64%;
    }
    .fm-date {
        width: 36%;
    }
    .fm-vs {
        display: none;
    }
    /*.fm-team-a-name, .fm-team-b-name {*/
        /*width: 80%;*/
    /*}*/
    /*.fm-team-a-logo, .fm-team-b-logo {*/
        /*width: 20%;*/
    /*}*/
    .fm-team-b-logo {
        text-align: right;
    }
    .fm-team-b-name {
        text-align: left;
        float: right;
    }
}